.notification {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-style: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}